* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6));
}

/* Styling for Hero Section */
#top {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)),
        url("../img/bg-hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
}

#about-me {
    background-color: rgb(56, 79, 106);
}

#about-me img {
    border-radius: 100%;
}

