* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    --header-height: 75px;
    scroll-padding-top: var(--header-height);
}

body {
    overflow-y: scroll;
}

section {
    min-height: -o-calc(100vh - var(--header-height));
    min-height: -webkit-calc(100vh - var(--header-height));
    min-height: -moz-calc(100vh - var(--header-height));
    min-height: calc(100vh - var(--header-height));
    overflow: hidden;
}

.hero {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)),
        url("../images/bg-hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.hero header {
    padding: 20px 30px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3));
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 9999;
    height: var(--header-height);
    width: 100%;
}

.name a:hover img {
    filter: invert(.7);
}

.hero header nav {
    margin: 7px 0;
    height: 100%;
}

.hero header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.hero header nav ul li:hover {
    filter: invert(.7);
}

.hero header nav ul li a {
    color: white;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 18px;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0,0,0,.5);

}

.hero-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}

.hero-flex-top {
    align-self: flex-start;
}

.hero-flex-center {
    max-width: 80%
}

.hero-flex-bottom {
    align-self: flex-end;
}

.hero-content {
    width: 80%;
    text-align: center;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.hero-content h2 {
    font-style: italic;
    font-size: 45px;
}

.content {
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
}

.content p {
    line-height: 1.7;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.content-flex-row {
    display: flex;
    padding: 20px 35px;
    justify-content: center;
}

.content-flex-row p {
    justify-content: center;
}

.section-title {
    width: 100%;
    font-size: 32px;
    font-style: italic;
}

.contact {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)),
        url("../images/bg-contact.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.contact .section-title {
    color: white;
}

footer {
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

footer h2 {
    font-size: 30px;
}