* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    --header-height: 75px;
}

body {
    overflow-y: scroll;
}

/*Section styling to fill sections to viewport height*/
section {
    min-height: -o-calc(100vh - var(--header-height));
    min-height: -webkit-calc(100vh - var(--header-height));
    min-height: -moz-calc(100vh - var(--header-height));
    min-height: calc(100vh - var(--header-height));
    overflow-y: hidden;
    overflow: auto;
}

/* Styling for Hero Section */
.hero {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)),
        url("../images/bg-hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.hero header {
    padding: 20px 30px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 9999;
    height: var(--header-height);
    width: 100%;
}

.name a:hover img {
    filter: invert(.7);
    -webkit-filter: invert(.7);
}

.hero header nav {
    margin: 7px 0;
    height: 100%;
}

.hero header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.hero header nav ul li:hover {
    filter: invert(.7);
    -webkit-filter: invert(.7);
}

.hero header nav ul li a {
    color: white;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 18px;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0,0,0,.5);

}

/* Styling for flex box for content */
.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    min-height: fit-content;
    width: 100%;
    margin: 0 auto;
}

/* Styling to be able to center content within larger flexbox */
.flex-top {
    align-self: flex-start;
}

.flex-center {
    margin-top: var(--header-height);
    width: 80%;
}

.flex-bottom {
    align-self: flex-end;
}

.hero-content {
    width: 80%;
    text-align: center;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.hero-content h2 {
    font-style: italic;
    font-size: 45px;
}

/* Content styling for sections other than Hero */
.content h2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.content p {
    line-height: 1.7;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

/* Content flexbox */
.content-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 35px;
    align-content: center;
}

/* About Me section styling */
.about-me img {
    border-radius: 100%;
    height: 125px;

}

.about-me p {
    font-size: 18px;
}

/* Default section title styling */
.section-title {
    width: 100%;
    font-size: 32px;
    font-style: italic;
}

.about-me {
    background: linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)),
        url("../images/bg-aboutme.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.about-me .section-title {
    color: black;
    text-align: right;
}

.about-me p {
    text-align: left;
}

/* Content styling for My Work Section */
.my-work {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)),
        url("../images/bg-mywork.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.my-work .section-title {
    color: white;
}

.mywork-flex-row > a {
    margin: 10px;
}

.mywork-button {
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    min-width: 325px;
    min-height: 230px;
}

.mywork-flex-row {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.mywork-button h3 {
    color: white;
    font-size: 17px; 
    font-weight: medium;
    margin: 0 auto 20vh;
    width: 100%;
    display: none;
}

.mywork-button p {
    color:white;
    font-size: 14px;
    width: 100%;
}

.mywork-button:hover h3 {
    display: contents;
}

#ro-btn {
    background-image: url("../images/project-badges/roinfo.jpg");
    background-size: fill;
}

#ro-btn:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)),
        url("../images/project-badges/roinfo.jpg");
    background-size: fill;
}

#webpass-btn {
    background-image: url("../images/project-badges/webpass.jpg");
    background-size: fill;
}

#webpass-btn:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)),
        url("../images/project-badges/webpass.jpg");
    background-size: fill;
}

#seo-btn {
    background-image: url("../images/project-badges/seo.jpg");
    background-size: fill;
}

#seo-btn:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)),
        url("../images/project-badges/seo.jpg");
    background-size: fill;
}

/* Default styling for buttons, overridden by more specific styling */
.contact-button:hover, .mywork-button:hover {
    background: linear-gradient(
        rgba(255, 255, 255, 0.3), 
        rgba(255, 255, 255, 0.3));
}

.contact {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)),
        url("../images/bg-contact.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.contact .section-title {
    color: white;
}

.contact-flex-row {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 33.333333%;
    justify-content: space-evenly;
    align-content: center;
}

.contact-flex-row > a {
    margin: 10px;
}

.contact-button {
    display: inline-block;
    border: 1px solid white;
    border-radius: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    min-width: 75px;
    min-height: 75px;
}

#email {
    background-image: url("../images/icons/email.jpg");
    background-size: contain;
}

#email:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)),
        url("../images/icons/email.jpg");
    background-size: contain;
}

#linkedin {
    background-image: url("../images/icons/linkedin.jpg");
    background-size: contain;
}

#linkedin:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)),
        url("../images/icons/linkedin.jpg");
    background-size: contain;
}

#github {
    background-image: url("../images/icons/github.jpg");
    background-size: contain;
}

#github:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)),
        url("../images/icons/github.jpg");
    background-size: contain;
}

footer {
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

footer h2 {
    font-size: 30px;
}

@media screen and (max-width: 970px) {
    .mywork-button {
        display: inline-block;
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        min-width: 275px;
        min-height: 175px;
    }
}

@media screen and (max-width: 900px ) {
    .about-me .section-title {
        color: black;
        text-align: right;
        font-size: 24px;
    }
    
    .about-me p {
        text-align: left;
        font-size: 16px;
    }

    .my-work .section-title {
        font-size: 24px;
    }

    .mywork-button {
        display: inline-block;
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        min-width: 225px;
        min-height: 115px;
    }

}

@media screen and (max-width: 812px) {
    .mywork-button {
        display: inline-block;
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        min-width: 175px;
        min-height: 100px;
    }
}

@media screen and (max-width: 490px) {
    html {
        --header-height: 100px;
    }
}